body {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;

    background: rgb(54, 64, 79);
}

.top_part {

    position: static;
    width: 1920px;
    height: 285px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.logo_img {
    /* 111 */
    position: static;
    width: 329px;
    height: 128px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 1271px;
    transform: rotate(180.00deg);

    background: url(111);
}

.header {

    position: static;
    width: 1920px;
    height: 150px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 0px;

    backdrop-filter: blur(38px);
}

.navbar {
    /* Навигационная панель */
    position: static;
    width: 1920px;
    height: 135px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 0px;

    box-sizing: border-box;
    border-bottom: 3px solid rgb(255, 255, 255);
    border-top: 3px solid rgb(255, 255, 255);
    backdrop-filter: blur(24px);
    background: rgba(0, 0, 0, 0.2);
}

.main {
    /* Тело */
    position: static;
    width: 1920px;
    height: 2366.67px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

.bottom_part {
    /* Подвал */
    position: static;
    width: 1920px;
    height: 200px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;

    /* Inside Auto Layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;

    box-sizing: border-box;
    border-top: 3px solid rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.2);
}

.outer_button {
    /* Кабинет */
    position: static;
    width: 288px;
    height: 100px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;

    border-radius: 16px;
}

.button {
    /* Внешняя часть */
    position: static;
    width: 204px;
    height: 59px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.button img {
    /* Внешняя часть */
    position: static;
    width: 204px;
    height: 59px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.button p {
    /* Регистрация */
    position: static;
    width: 141px;
    height: 59px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 15px;

    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: left;
}