<!DOCTYPE html>

<html>
    <head>
        <title>GAMERS | {{page_name}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/body.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/button_navigate.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/nav.css') }}">
    </head>

    <body>

        <header>
            <div class="button_navigate">
                <img src="{{ url_for('static', filename='img/login.png') }}" class="button_img">
                <div class="button_right">
                    <span>Войти</span>
                </div>
            </div>
            <div class="button_navigate">
                <img src="{{ url_for('static', filename='img/register.png') }}" class="button_img">
                <div class="button_right">
                    <span>Регистрация</span>
                </div>
            </div>
        </header>

        <nav>
            <img class="logo_img" src="{{ url_for('static', filename='img/logo.jpg') }}">
            <div class="buttons">
                <div class="button_navigate">
                    <img src="{{ url_for('static', filename='img/home.png') }}" class="button_img">
                    <div class="button_right">
                        <span>Главная</span>
                    </div>
                </div>
                <div class="button_navigate">
                    <img src="{{ url_for('static', filename='img/news.png') }}" class="button_img">
                    <div class="button_right">
                        <span>Новости</span>
                    </div>
                </div>
                <div class="button_navigate">
                    <img src="{{ url_for('static', filename='img/servers.png') }}" class="button_img">
                    <div class="button_right">
                        <span>Сервера</span>
                    </div>
                </div>
                <div class="button_navigate">
                    <img src="{{ url_for('static', filename='img/forum.png') }}" class="button_img">
                    <div class="button_right">
                        <span>Форум</span>
                    </div>
                </div>
                <div class="button_navigate">
                    <img src="{{ url_for('static', filename='img/contacts.png') }}" class="button_img">
                    <div class="button_right">
                        <span>Контакты</span>
                    </div>
                </div>
            </div>
        </nav>

        <main>
            {% block main %}

            {% endblock %}
        </main>

    </body>
</html>