<!DOCTYPE html>

<html>
    <head>
        <title>GAMERS | {{ page_name }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/body.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/button_navigate.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/content_block.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/blocky_content.css') }}">
        {% block head %} {% endblock %}
    </head>

    <body>

        {% from 'components/navigation_button.html' import navigation_button %}

        <header>
            {{ navigation_button('Войти', 'login.png', 'login') }}
            {{ navigation_button('Регистрация', 'register.png', 'register') }}
        </header>

        <nav>
            <img class="logo_img" src="{{ url_for('static', filename='img/logo.jpg') }}">
            <div class="buttons">
                {{ navigation_button('Главная', 'index.png', 'index') }}
                {{ navigation_button('Новости', 'news.png', 'news') }}
                {{ navigation_button('Сервера', 'servers.png', 'servers') }}
                {{ navigation_button('Форум', 'forum.png', 'forum') }}
                {{ navigation_button('Контакты', 'contacts.png', 'contacts') }}
            </div>
        </nav>

        <main>
            {% block main %} {% endblock %}
        </main>

    </body>
</html>