{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index/servers_list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/content_block.css') }}">
{% endblock %}

{% block main %}

    {% from 'components/tip.html' import tip %}
    {% from 'components/warn.html' import warn %}

    <div class="columns">
        <div class="left">
            <div class="content_block">
                <p id="title">Сервер GAMERS - почему?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt laboriosam id fugiat itaque asperiores voluptatibus unde vel magnam dolorem. Tempore consectetur porro iure sed non accusamus officiis totam voluptatem. Voluptate!</p>
                {{ tip(text='Подсказка для дебилов') }}
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt laboriosam id fugiat itaque asperiores voluptatibus unde vel magnam dolorem. Tempore consectetur porro iure sed non accusamus officiis totam voluptatem. Voluptate!</p>
            </div>
            <div class="content_block">
                <p id="title">Что еще можно сказать?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt laboriosam id fugiat itaque asperiores voluptatibus unde vel magnam dolorem. Tempore consectetur porro iure sed non accusamus officiis totam voluptatem. Voluptate!</p>
                {{ tip(text='Подсказка для дебилов') }}
                {{ warn(text='Важное для дебилов') }}
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt laboriosam id fugiat itaque asperiores voluptatibus unde vel magnam dolorem. Tempore consectetur porro iure sed non accusamus officiis totam voluptatem. Voluptate!</p>
            </div>
            <div class="content_block">
                <p id="title">Что по правилам?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt laboriosam id fugiat itaque asperiores voluptatibus unde vel magnam dolorem. Tempore consectetur porro iure sed non accusamus officiis totam voluptatem. Voluptate!</p>
                {{ warn(text='Важное для дебилов') }}
                {{ warn(text='Важное для дебилов') }}
                {{ warn(text='Важное для дебилов') }}
                {{ warn(text='Важное для дебилов') }}
                {{ warn(text='Важное для дебилов') }}
                {{ warn(text='Важное для дебилов') }}
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt laboriosam id fugiat itaque asperiores voluptatibus unde vel magnam dolorem. Tempore consectetur porro iure sed non accusamus officiis totam voluptatem. Voluptate!</p>
            </div>
        </div>
        <div class="right">

            <div class="content_block" id="last_news">
                <p id="title">Новость</p>
                <p>Описание</p>
            </div>

            <div class="content_block" id="servers">
                {% for server_id, server_name, server_version, _, server_ip, server_port in servers %}
                    <div class="server_block">
                        <img src="{{ url_for('static', filename='img/server.png') }}">
                        <div class="server_info">
                            <p>{{ server_name }} {{ server_version }}</p>
                            <p id="can_copy">{{ server_ip }}:{{ server_port }}</p>
                        </div>
                    </div>
                {% endfor %}
                {{ warn(text='Некоторым серверам нужна сборка!') }}
            </div>

            <div class="content_block" id="discord">
                <iframe src="https://discord.com/widget?id=732704325293572096&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </div>
        </div>
    </div>
{% endblock %}