{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index/main.css') }}">
{% endblock %}

{% block main %}

    {% from 'components/tip.html' import tip %}
    {% from 'components/warn.html' import warn %}
    {% from 'components/blocky_content.html' import blocky_content %}

    <div class="columns">
        <div class="left">
            <div class="content_block">
                <p id="title">Сервер GAMERS - почему?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt laboriosam id fugiat itaque asperiores voluptatibus unde vel magnam dolorem. Tempore consectetur porro iure sed non accusamus officiis totam voluptatem. Voluptate!</p>
                {{ tip(text='Подсказка для дебилов') }}
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt laboriosam id fugiat itaque asperiores voluptatibus unde vel magnam dolorem. Tempore consectetur porro iure sed non accusamus officiis totam voluptatem. Voluptate!</p>
            </div>
            <div class="content_block">
                <p id="title">Что еще можно сказать?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt laboriosam id fugiat itaque asperiores voluptatibus unde vel magnam dolorem. Tempore consectetur porro iure sed non accusamus officiis totam voluptatem. Voluptate!</p>
                {{ tip(text='Подсказка для дебилов') }}
                {{ warn(text='Важное для дебилов') }}
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt laboriosam id fugiat itaque asperiores voluptatibus unde vel magnam dolorem. Tempore consectetur porro iure sed non accusamus officiis totam voluptatem. Voluptate!</p>
            </div>
            <div class="content_block">
                <p id="title">Что по правилам?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt laboriosam id fugiat itaque asperiores voluptatibus unde vel magnam dolorem. Tempore consectetur porro iure sed non accusamus officiis totam voluptatem. Voluptate!</p>
                {{ warn(text='Важное для дебилов') }}
                {{ warn(text='Важное для дебилов') }}
                {{ warn(text='Важное для дебилов') }}
                {{ warn(text='Важное для дебилов') }}
                {{ warn(text='Важное для дебилов') }}
                {{ warn(text='Важное для дебилов') }}
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt laboriosam id fugiat itaque asperiores voluptatibus unde vel magnam dolorem. Tempore consectetur porro iure sed non accusamus officiis totam voluptatem. Voluptate!</p>
            </div>
        </div>
        <div class="right">
            {{ blocky_content(page_content) }}
        </div>
    </div>
{% endblock %}