{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news/main.css') }}">
{% endblock %}

{% block main %}

    {% from 'components/tip.html' import tip %}
    {% from 'components/warn.html' import warn %}
    {% from 'components/blocky_content.html' import blocky_content %}

    <div class="columns">
        <div class="left">
            {% for id, user, title, description in page_content["all_news"] %}
                <div class="content_block">
                    <p id="title">{{ title }}</p>
                    <p>{{ description }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="right">
            {{ blocky_content(page_content) }}
        </div>
    </div>
{% endblock %}