main .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

main .columns .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main .columns .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}